@font-face {
	font-family: "Hubot Sans";
	src: url("/Hubot-Sans-1.0.woff2") format("woff2 supports variations"),
		url("/Hubot-Sans-1.0.woff2") format("woff2-variations");
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

html,
body,
#app {
	height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
