name = "shopping-bird"
main = "src/worker.ts"
compatibility_date = "2024-12-23"
compatibility_flags = ["nodejs_compat"]

logpush = true

vars = { KEEP_EMAIL = "jakob.stahl91@gmail.com", KEEP_SHOPPING_LIST_ID = "1cT_A1zlW4UkVQPdiQxOy1GyqobwBktgbt3dThQ7p7sHCsKJmb3izdzA_6mq7GQ" }

[observability.logs]
enabled = true

[durable_objects]
bindings = [{ name = "ShoppingBirdDO", class_name = "ShoppingBirdDO" }]

[[migrations]]
tag = "v1"
new_classes = ["TheShoppingBird"]

[[migrations]]
tag = "v2"
renamed_classes = [{ from = "TheShoppingBird", to = "TinyDO" }]

[[migrations]]
tag = "v3"
deleted_classes = ["TinyDO"]
new_sqlite_classes = ["ShoppingBirdDO"]
